stext {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  color: #fff;
}
stext > .s_text_input {
  outline: transparent;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-user-modify: read-write-plaintext-only;
  cursor: text;
}
stext > .s_text_input:focus + .s_text_before_bottomline {
  width: 100%;
  background-color: #52b2cc;
}
stext > .s_text_before_bottomline {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #808080;
  transition: all ease .3s;
}
stext > .s_text_bottomline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #808080;
}
stext[ftype="2"] > .s_text_bottomline {
  background-color: #fb4747;
}
stext[ftype="2"] > .s_text_input:focus + .s_text_before_bottomline {
  background-color: #fba247;
}
stext[disable] {
  opacity: .7;
}
stext[disable] > .s_text_dislayer {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 2;
}
